<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ControlPanel.Properties.Settings>
            <setting name="Threshold1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Threshold2" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Threshold3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Threshold4" serializeAs="String">
                <value>0</value>
            </setting>
        </ControlPanel.Properties.Settings>
    </userSettings>
</configuration>