<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InteractiveSpace.EngineController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InteractiveSpace.EngineController.Properties.Settings>
            <setting name="FingerMinWidth" serializeAs="String">
                <value>1.18</value>
            </setting>
            <setting name="FingerMaxWidth" serializeAs="String">
                <value>4.62</value>
            </setting>
            <setting name="FingerMinLength" serializeAs="String">
                <value>3.02</value>
            </setting>
            <setting name="FingerMaxLength" serializeAs="String">
                <value>13.74</value>
            </setting>
            <setting name="FingerRisingThreshold" serializeAs="String">
                <value>1505.62</value>
            </setting>
            <setting name="FingerFallingThreshold" serializeAs="String">
                <value>1674.16</value>
            </setting>
            <setting name="ClickFloodMaxGrad" serializeAs="String">
                <value>218.65</value>
            </setting>
            <setting name="OmniTouchCroppingLeft" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="OmniTouchCroppingTop" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="OmniTouchCroppingRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OmniTouchCroppingBottom" serializeAs="String">
                <value>30</value>
            </setting>
        </InteractiveSpace.EngineController.Properties.Settings>
        <ControlPanel.Properties.Settings>
            <setting name="FingerMinWidth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FingerMaxWidth" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="FingerMinLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FingerMaxLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FingerRisingThreshold" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="FingerFallingThreshold" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ClickFloodMaxGrad" serializeAs="String">
                <value>60</value>
            </setting>
        </ControlPanel.Properties.Settings>
    </userSettings>
</configuration>